@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-noto text-gray-900 antialiased;
  }
  h1, h2, h3, .heading {
    @apply font-roboto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading {
  width: 100%;
  animation: loading 2s linear infinite;
}

.swiper-pagination-bullet {
  background-color: #99f6e4 !important; /* teal-200 */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #14b8a6 !important; /* teal-500 */
  opacity: 1;
}
